body {
    background-image: url(..//img/14588.jpg) !important;
    object-fit: cover;
    background-size: cover;
    color: #000 !important;
}

:root {
    --tr-global-collor: #f8f8f859;
}

.transparent {
    box-shadow: 0 4px 16px 0 #3535372b;
    backdrop-filter: blur(10px) !important;
    -webkit-backdrop-filter: blur(10px) !important;
    background: #f8f8f8bf !important;
}

section {
    background: #00000017 !important;
}

.header {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1002;
    background: #413e3e45;
    padding: 10px;
    box-shadow: 0 8px 15px 0 #3b3b3b2c;
}

.sidebar_2nd {
    background: #413e3e00 !important;
}

.sidebar-menu-2nd {
    margin-top: 100px !important;
    margin-left: 10px !important;
    border-radius: 5px;
    background: #00000059;
    padding: 10px auto !important;
}

.panel {
    border: none;
    box-shadow: none;
    background: #ffffff59 !important;
}

.value h1,
.value p {
    color: #000000 !important;
}

.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
    border-color: transparent;
    background: #ffffffab;
    color: rgb(0, 0, 0);
    margin-top: 15px;
    border-radius: 3px;
    backdrop-filter: blur(15px) !important;
    -webkit-backdrop-filter: blur(15px) !important;
}

.sidebar-menu-2nd a {
    color: rgb(0, 0, 0) !important;
}

#site_logo_container {
    padding: 5px 10px;
    margin-top: 0;
}

.logout a {
    color: rgba(0, 0, 0, 0.793) !important;
}

ul.sidebar-menu li a.active,
ul.sidebar-menu li a:hover,
ul.sidebar-menu li a:focus {
    box-shadow: 0 -1px 6px 0 rgb(53 53 55 / 37%);
    backdrop-filter: blur(5px) !important;
    -webkit-backdrop-filter: blur(5px) !important;
    background: var(--tr-global-collor) !important;
}

#sidebar .sub-menu>.sub li {
    background: #fff !important;
    padding: 2px 10px;
}

#sidebar .sub-menu>.sub li a {
    padding: 2px 10px;
}


/* Pannel 2nd Style  */

.panel_2nd {
    padding: 20px;
}

.panel_2nd h1 {
    text-align: center;
}

hr {
    box-shadow: none;
}


/* Table  */

.table_2nd {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background: #9a9a9a38 !important;
}

.table_2nd tr th {
    text-align: center;
}

.table_2nd tbody th,
.table_2nd tbody td {
    text-align: center;
}
